<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Midway</title>
	<meta name="keywords" content="nodejs midway" />
	<meta name="description" content="midway demo" />
	<link rel="stylesheet" href="public/css/welcome.css">

<body>
<div class="reveal"><%= text %></div>
<script src="public/js/welcome.js"></script>
</body>

</html>
